
    <button style="z-index:30;" class="btnCart"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
    </svg>
        <div id="cart-circle"  class="circle">
    </svg>
    </div>
    <p style="color:#6EA0F3; margin:0;padding:0;font-weight:bold;">0</p>
    <a class="shopping-cart" style="color:#ccc; display:flex; justify-content:center; align-items:center; align-content:center;text-decoration:none; " href="/checkout"></a>
</button>




    
    {{#if resultados}}
    <div class="wrap-lastProducts">
    <h2 class="subtitle-products">Productos encontrados</h2>
    <div class="products">
        {{#each resultados}}
        <div class="product" id="product-{{id}}">


            </script>
            <a href="/producto/{{id}}">
                          <img style="max-width:100%; height:200px;"src="{{selectImg imagen 'https://res.cloudinary.com/keyzen/image/upload/v1636230517/images_s3u714.png'}}" alt="">
            </a>
            <h3 class="product-name">{{nombre}}</h3>
            <p class="product-sku">SKU: {{SKU}}</p>
            <p class="product-brand">{{marca}}</p>
            <p>${{precio}}</p>
            <div class="product-button">
                            <script>
                          function restarCantidad(e){
                        const valueBox = e.target.nextElementSibling;
                        if (parseInt(valueBox.value) > 1) {
                            valueBox.value = parseInt(valueBox.value) -1
                        }
       
                    }

                    function sumarCantidad(e){
                        const valueBox = e.target.previousElementSibling;
                        debugger;
                        if (parseInt(valueBox.value) < parseInt(valueBox.max)){
                            valueBox.value = parseInt(valueBox.value) +1

                        }
                  
                    }
                </script>
                <button class="restar-btn"onclick="restarCantidad(event)">-</button>
                <input type="number" class="number input-cantidad" min="1" value="1" max={{cantidad}} disabled>
                <button class="sumar-btn"onclick="sumarCantidad(event)">+</button>     

            </div>  
            <div class="container-comprar">
                <a  class="btn btn-primary w-100" style="display:block; margin-top:.5rem;" href="{{id}}" data-id="{{id}}">Añadir</a>
            </div>



            


        {{!--     <p>descripcion: {{loud descripcion}}</p> --}}
        </div>
        {{/each}}
      </div>
 

   




    </div>

    <div class="pages">
{{{paginator}}}

    </div>
   {{else}}

    <div style="height:100vh; display:flex; flex-direction:column; justify-content:center; align-items:center; align-content:center;">
        <h1 style="color:#4C6EA7;">No hay resultados</h1>
                <a href="/" class="btn btn-primary">Volver a inicio</a>
    </div>
    {{/if}}
{{#else}}
    <div style="height:100vh; display:flex; flex-direction:column; justify-content:center; align-items:center; align-content:center;">
        <h1 style="color:#4C6EA7;">No hay resultados</h1>
                <a href="/" class="btn btn-primary">Volver a inicio</a>
    </div>
{{/else}}



<button class="scrollUp-btn"><i class="fas fa-arrow-alt-circle-up"></i></button>
<script src="/js/scrollUp.js"></script>
<script src="/js/productsWrapper.js"></script>
<script src="/js/main.js" type="module"></script>

<script src="/js/scroll-top.js"></script>
<script src="/js/shoppingCart.js"></script>