
 <h1>Checkout</h1>
{{!--  <div class="lds-dual-ring"></div> --}}
{{#if listaProductos}}
<div class="wrapperResults">
    <table class="tableResults">
        <thead>
            {{!-- <tr class="firstColumn"><td></td><td>Producto</td><td>Precio</td></tr> --}}
            <th>Eliminar</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </thead>
        
    <tbody>
        {{#each listaProductos}}    
                <tr data-number="{{id}}">
                    <td data-label="Eliminar"><a href="{{id}}"><i class="far fa-trash-alt"></i></a></td>
                    <td data-label="Producto"="">{{nombre}}</td>
                    <td data-label="Precio">{{ precio }}</td>
                    <td data-label="Cantidad">
                        <input type="number" class="number" min="1" value="1" max="20">
                    </td>
                    <td data-label="Subtotal">{{{price precio cantidad}}}</td>
                 
                </tr>
        {{/each}}
    </tbody>

    </table>
</div>
{{else}}
<div>No hay resultados</div>
{{/if}}



    
   {{#each resultsBrands}}
    
    {{/each}}



<script src="/js/checkout.js"></script>
<script src="/js/hamburgerBtnCopy.js"></script>
<script src="/js/responsiveCopy.js"></script>
<script src="/js/hiddenSearch.js"></script>