{{!--    <a href="/signup">Signup</a> --}}
{{!--    <a href="/signin">Signin</a> --}}


   <section class="search">

   <div class="index-forms">
      <form action="/brands" method="POST" id ="formBrand" autocomplete="off">
         <datalist id="brand">
         {{#each resultados}}
         <option value="{{nombre}}" data-id ="{{{id}}}">{{{nombre}}}</option>
         {{/each}}
         </datalist>  
         <input placeholder="Marca" list="brand" name="brand" id="inputBrand">
      </form>


      <form action="/models" method="POST" id ="formModels" autocomplete="off">
         <input placeholder="Modelo" list="model" name="model" id="inputModel" disabled>
      </form>

      <form action="/submodels" method="POST" id ="formSubmodels" autocomplete="off">
         <input placeholder="Submodelo"list="submodel" name="submodel" id="inputSubmodel" disabled>
      </form>

      <form action="/years" method="POST" id ="formYears" autocomplete="off">
         <input placeholder="Año"list="year" name="year" id="inputYear"disabled>
      </form>
   </div>
   </section>


   
        <!-- Slider de imágenes -->

        <section class="container-slider">
            <div class="slider-text">
                <h2 class="slider-title">
                    Productos destacados
                </h2>
                <div class="border-line"></div>
            </div>
     
          
            <div class="slider">
                <ul>
                    <li><img src="https://res.cloudinary.com/keyzen/image/upload/v1619891291/mobalzen/repuestosMontenegro/pexels-pixabay-162553-min_ys7mmx.jpg" alt="slide1"></li>
                    <li><img src="https://res.cloudinary.com/keyzen/image/upload/v1619891291/mobalzen/repuestosMontenegro/pexels-m%C3%ADdia-4116191-min_emikjy.jpg" alt="slide2"></li>
                    <li><img src="https://res.cloudinary.com/keyzen/image/upload/v1619891291/mobalzen/repuestosMontenegro/pexels-andrea-piacquadio-3807167-min_jujbja.jpg" alt="slide3"></li>
                    <li><img src="https://res.cloudinary.com/keyzen/image/upload/v1619891291/mobalzen/repuestosMontenegro/pexels-pixabay-162553-min_ys7mmx.jpg" alt="slide4"></li>
                </ul>
            </div>
        </section>

        {{!-- Sección de productos destacados --}}


    {{#if lastProducts}}
    <h2 class="title">Productos recientes</h2>
    <div class="products-index products">
        {{#each lastProducts}}
        <div class="product" id="product-{{id}}">
            <img style="max-width:100%; height:210px;"src="{{selectImg imagen 'https://res.cloudinary.com/keyzen/image/upload/v1636230517/images_s3u714.png'}}" alt="">
            <h3 class="product-name">{{nombre}}</h3>
            <p class="product-sku">SKU: {{SKU}}</p>
            <p class="product-brand">{{marca}}</p>
            <p>${{precio}}</p>
            <div class="product-button">
                
                <input type="number" class="number" min="1" value="1" max="20">
                <a href="{{id}}" data-id="{{id}}">Añadir</a>
            </div>  
        </div>
        {{/each}}
    
    {{/if}}
 

   




    </div>

   <!-- Sección de servicios -->

        <section class="services">
            <div class="services-text">
                <h2 class="services-title">
                    Conoce nuestros principales servicios
                </h2>
                <div class="border-line"></div>
                <p>Cuando confías en repuestos autonueve tienes acceso a productos de alta calidad, acorde a los estándares del mercado.</p>
                <h3>¡Revisa nuestras principales categorías!</h3>

            </div>


            <div class="services-images">
                
                <!-- Las imagenes se insertarán como background -->

                <div class="services-image image-1">
                    <h4>BATERIAS</h4>
                </div>

                <div class="services-image image-2">
                    <h4>REPUESTOS</h4>                    
                </div>
            
            </div>

        </section>


        <!-- Proveedores -->

        <section class="suppliers">
                <div class="suppliers-text">   
                    
                    <h2>Nuestros proveedores</h2>
                    <div class="border-line"></div>
                    <p>Contamos con proveedores con amplia experiencia en la venta de  repuestos, es por esto que en <span>Repuestos Autonueve</span> garantizamos la calidad de nuestros productos y por lo tanto tu satisfacción!</p>
                
                </div>
              
  
            <!-- Logos de marcas -->
            <div class="logos">

                <div class="first-row">
                    <img src="https://res.cloudinary.com/keyzen/image/upload/v1619891303/mobalzen/repuestosMontenegro/Group_brfpma.svg" alt="" class="logo-image" id="logo-hyundai">
                    <img src="https://res.cloudinary.com/keyzen/image/upload/v1619891303/mobalzen/repuestosMontenegro/Group-1_v6zas9.svg" alt="" class="logo-image" id="logo-liqui">
                    <img src="https://res.cloudinary.com/keyzen/image/upload/v1619891303/mobalzen/repuestosMontenegro/Vector_je4iif.svg" alt="" class="logo-image" id="logo-kia">
                </div>
       
                <div class="second-row">
                    <img src="https://res.cloudinary.com/keyzen/image/upload/v1619891303/mobalzen/repuestosMontenegro/Group_9_s6wyls.svg" alt="" class="logo-image" id="logo-castrol">
                    <img src="https://res.cloudinary.com/keyzen/image/upload/v1619891303/mobalzen/repuestosMontenegro/Vector-1_pddqtb.svg" alt="" class="logo-image" id="logo-philips">
                    <img src="https://res.cloudinary.com/keyzen/image/upload/v1619891303/mobalzen/repuestosMontenegro/Group_10_bsubno.svg" alt="" class="logo-image" id="logo-renault">
                </div>
      

            </div>
        </section>

        <!-- Nosotros -->

        <section class="us">

            <div class="us-text">

                <h2>Nosotros</h2>
                <div class="border-line"></div>
                <p>Más de 15 años en el mercado de repuestos automotrices nos han entregado al experiencia necesaria para poder brindarte el mejor servicio. Nuestra empresa nace el año 2005 a raíz de nuestra intención de importar artículos de calidad para los vehículos de nuestro país. </p>
                <p> La confianza de nuestros clientes significa el cumplimiento de nuestra meta, posicionarnos como vendedores de repuestos acorde a las expectativas del mercado, entregando productos y servicios de calidad, que permitan que tú obtengas los repuestos acordes a tuproyecto.</p>
            </div>

        </section>


<script src="/js/productsWrapper.js"></script>
<script src="/js/main.js" type=module></script>
