<button style="z-index:30;" class="btnCart"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
    </svg>
        <div id="cart-circle"  class="circle">
    </svg>
    </div>
    <p style="color:#6EA0F3; margin:0;padding:0;font-weight:bold;">0</p>
    <a class="shopping-cart" style="color:#ccc; display:flex; justify-content:center; align-items:center; align-content:center;text-decoration:none; " href="/checkout"></a>
</button>


<script>
        window.addEventListener("DOMContentLoaded", e => {
        window.history.replaceState(
            {},
            '',
            `${window.location.pathname}`,
        )
    })
</script>
 <h1 class="pedido-title">DATOS DE ENVÍO</h1>

                 <a href="/checkout" style="display:flex; justify-content:center; align-items:center; align-content:center; text-decoration:none;">
                    <a class="shopping-cart" style="color:#fff; background-color:#6EA0F3; padding:1rem; border-radius:.5rem;" href="/checkout" >Volver</a>
                </a>

 <form action="/venta" method="POST" id="pedidoForm" autocomplete="ÑÖcompletes">

    <div class="client-data">
        <h3>Detalles de Facturación</h3>
        <h4>Datos cliente</h2>
        <div class="wrap-empresa">
            <label for="empresa">¿Que tipo de cliente es?</label>
            <div class="input-empresa">
                <input type="radio" name="cliente" value="2" required>Empresa <br>
                <input type="radio" name="cliente" value="1" required>Particular <br>
            </div>

        </div>

        <div class="client-info"></div>

        <div class="wrap-name">
            <div class="name">
                <label for="nombre">Nombre<span style="color:red; margin-left:5px;">*</span></label>
                <input type="text" name="nombre" id="inputNombre" required>
            </div>
            <div class="surname">
                <label for="apellido">Apellido<span style="color:red; margin-left:5px;">*</span></label>
                <input type="text" name="apellido" id="inputApellido" required>
            </div>

        </div>
        

        <label for="email">Email<span style="color:red; margin-left:5px;">*</span></label>
        <input type="email" name="email" required>
        <label for="phone">Teléfono<span style="color:red; margin-left:5px;">*</span></label>
        <input type="number" max="999999999999" maxlength="12" min="1" oninput="this.value=this.value.slice(0,this.maxLength)"onkeydown="if(event.key==='.' || event.key===','){event.preventDefault();}" onpaste="let pasteData = event.clipboardData.getData('text'); if(pasteData){pasteData.replace(/[^0-9]*/g,'');} "name="phone" placeholder="Ej: 940008291" required>
        <label for="rut">Rut<span style="color:red; margin-left:5px;">*</span></label>
        <input type="number" max="999999999" maxlength="9" min="1" oninput="this.value=this.value.slice(0,this.maxLength)" onkeydown="if(event.key==='.' || event.key===','){event.preventDefault();}" onpaste="let pasteData = event.clipboardData.getData('text'); if(pasteData){pasteData.replace(/[^0-9]*/g,'');} "name="rut" placeholder="Ej: 178218394 (Sin punto ni guión)"required>
    </div>



    <div class="shipping-information">

        <h4 id="shipping-title">Datos de Envío</h4>
        <label for="direccion">Direccion<span style="color:red; margin-left:5px;">*</span></label>
        <input type="text" name="direccion" id="inputDireccion" required>


        <label for="documento">Documento<span style="color:red; margin-left:5px;">*</span></label>
        <select id="documento" name="documento">
            {{#each documentos}}
                <option value="{{id}}" data-id ="{{{id}}}">{{{documento}}}</option>
            {{/each}}
        </select>  
     
        <label for="region">Region<span style="color:red; margin-left:5px;">*</span></label>
        <select id="region" name="region">
            {{#each regiones}}
                <option value="{{id}}" data-id ="{{{id}}}">{{{region}}}</option>
            {{/each}}
        </select>  



        <label for="comuna">Comuna<span style="color:red; margin-left:5px;">*</span></label>
        <select id="comuna" name="comuna">
            {{#each comunas}}
                <option value="{{id}}">{{{nombre}}}</option>
            {{/each}}
        </select>  


        <label for="entregas">Entrega<span style="color:red; margin-left:5px;">*</span></label>
        <select id="entregas" name="entrega">
            {{#each entregas}}
                <option value="{{id}}" >{{{entrega}}}</option>
            {{/each}}
        </select>  

        <label for="pago">Tipo de pago<span style="color:red; margin-left:5px;">*</span></label>
        <select id="pago" name="pago">
            {{#each pagos}}
                <option value="{{id}}" >{{{pago}}}</option>
            {{/each}}
        </select>  

     
    </div>

<a href="/terms" target="_blank" id="terms">Revisa nuestros términos y condiciones</a>
<label for="terms">¿Está de acuerdo con los términos y condiciones?</label>
<input type="checkbox" name="terms" required>

{{#if listaProductos}}
<div class="wrapperResults">
    <table class="tableResults" id="tableVenta">
        <thead>


            <th>Producto</th>

            <th>Subtotal</th>
        </thead>
        
    <tbody>
        {{#each listaProductos}}    
                <tr data-number="{{id}}">
                    <td data-label="Producto"="">{{nombre}} x <strong>{{cantidad_comprada}}</strong></td>
                    <td data-label="Subtotal">{{{price precio cantidad_comprada}}}</td>
                </tr>
        {{/each}}

        <tr>
            <td><strong>Total</strong></td>
            <td id="totalPrice"></td>

        </tr>
    </tbody>

    </table>
</div>

{{else}}
    <div style="height:100vh; display:flex; flex-direction:column; justify-content:center; align-items:center; align-content:center;">
        <h1 style="color:#4C6EA7;">No hay resultados</h1>
                <a href="/" class="btn btn-primary">Volver a inicio</a>
    </div>
{{/if}}

    <a class="shopping-cart" style="color:#ccc; display:flex; justify-content:center; align-items:center; align-content:center;text-decoration:none; " href="/checkout"></a>




    <input class="btn-style"type="submit" value="Enviar" id="pedidoSubmit">
</form>                     


















<script src="/js/pedido.js"></script>
<script src="/js/hamburgerBtnCopy.js"></script>
<script src="/js/responsiveCopy.js"></script>
<script src="/js/hiddenSearch.js"></script>
<script src="/js/shoppingCart.js"></script>
