

{{#if pedidosResults}}
<div class="results-title">
    <h2>PEDIDOS</h2>
</div>

<div class="models-panel">
    <div class="models">
        <a href="/admin/products">Productos</a>
    </div>
    <div class="models">
        <a href="/admin/categories">Categorías</a>
    </div>
    <div class="models">
        <a href="/admin/compatibility">Asignación</a>
    </div>

</div>


<div class="btnToAdmin">
    <a href="/admin"><i id="btnBackAdmin" class="fas fa-arrow-alt-circle-left"></i></a>
    <a class="backToPanel" href="/admin">Volver al panel</a>
</div>
    <div style="padding:2rem 0 0 0">
        <label for="site-search">Busca el pedido:</label>
        <input type="number" id="pedido-search">
        <button class="btn btn-info">Buscar</button>
    </div>


<div class="adminResults">




    <table class="resultsTable">
        
    <tr class="firstColumn">
        <td>Acciones</td>
        <td>ID</td>
        <td>Cliente</td>
        <td>Tipo pago</td>
        <td>Precio</td>
        <td>Direccion</td>
        <td>Estado</td>
    </tr>
   {{#each pedidosResults}}
    <tr>
        <td>
            <a class="btn btn-success" style="color:#fff;" href="/admin/pedidos/{{id}}">Revisar</a>
        </td>
        <td>{{id}}</td>
        <td>{{nombre}}</td>
        <td>{{pago}}</td>
        <td>{{precio}}</td>
        <td>{{direccion}}</td>
        <td>
            
        {{#if (estadoDeVenta estado_id "2")}}
                <select data-pedido="{{id}}"class="form-select estado-select" aria-label="Default select example" >
            <option value="2" {{selectedState estado_id "2"}}>Pago realizado</option>
            <option value="3" {{selectedState estado_id "3"}}>Despachado</option>
        </select>
        
        {{else}}

            {{#if (estadoDeVenta estado_id "3")}}
                    <select data-pedido="{{id}}"class="form-select estado-select" aria-label="Default select example" >
                <option value="3" {{selectedState estado_id "3"}}>Despachado</option>
            </select>
        
            {{else}}

        <select data-pedido="{{id}}"class="form-select estado-select" aria-label="Default select example" >
            <option value="1" {{selectedState estado_id "1"}}>Pago pendiente</option>
            <option value="2" {{selectedState estado_id "2"}}>Pago realizado</option>
            <option value="3" {{selectedState estado_id "3"}}>Despachado</option>
        </select>
        </td>
        {{/if}}
    {{/if}}

    </tr>
    {{/each}}
    </table>
</div>
    



</div>
{{/if}}

<script src="/js/hamburgerBtnCopy.js"></script>
<script src="/js/responsiveCopy.js"></script>
<script src="/js/hiddenSearch.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>

<script>
    const estadoSelect = document.querySelectorAll(".estado-select");

    estadoSelect.forEach(select => {
        select.addEventListener("change", e => {


            Swal.fire({
            title: '¿Estás seguro que deseas cambiar el estado del pedido?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si',
            cancelButtonText: 'Cancelar'
            }).then((result) => {
            if (result.isConfirmed) {
            const mailObject = {
                "pedido_id": e.target.dataset.pedido,
                "estado_id": e.target.value
            }
            
                fetch("/admin/pedidos/estado", {
                method: 'PUT',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(mailObject)
                })
                .then(res => res.json())
                .then(data => {
                    if (data.status === 200) {
                        Swal.fire(data.message);
                    } else {
                         Swal.fire("Ha ocurrido algún error al procesar su solicitud, contacte al administrador");
                    }
                })
                .catch(err => {
                    Swal.fire(err.message);
                    window.location.reload();
                })
            } else {
                window.location.reload();
            }
            })


        })
    })


    const pedidoSearch = document.getElementById("pedido-search")
    pedidoSearch.addEventListener("change", e => {
        e.preventDefault();
        window.location.href = `/admin/pedidos/${e.target.value}`
    })
</script>
