
 <h1 class="pedido-title">Datos de Envío</h1>

 <form action="/venta" method="POST" id="pedidoForm" autocomplete="ÑÖcompletes">

    <div class="client-data">
        <h3>Detalles de Facturación</h3>
        <h4>Datos cliente</h2>
        <div class="wrap-empresa">
            <label for="empresa">¿Que tipo de cliente es?</label>
            <div class="input-empresa">
                <input type="radio" name="cliente" value="2" required>Empresa <br>
                <input type="radio" name="cliente" value="1" required>Particular <br>
            </div>

        </div>

        <div class="client-info"></div>

        <div class="wrap-name">
            <div class="name">
                <label for="nombre">Nombre<span style="color:red; margin-left:5px;">*</span></label>
                <input type="text" name="nombre" id="inputNombre" required>
            </div>
            <div class="surname">
                <label for="apellido">Apellido<span style="color:red; margin-left:5px;">*</span></label>
                <input type="text" name="apellido" id="inputApellido" required>
            </div>

        </div>
        

        <label for="email">Email<span style="color:red; margin-left:5px;">*</span></label>
        <input type="email" name="email" required>
        <label for="phone">Teléfono<span style="color:red; margin-left:5px;">*</span></label>
        <input type="text" name="phone" required>
        <label for="rut">Rut<span style="color:red; margin-left:5px;">*</span></label>
        <input type="text" name="rut" required>
    </div>

    <div class="shipping-information">

        <h4 id="shipping-title">Datos de Envío</h4>
        <label for="direccion">Direccion<span style="color:red; margin-left:5px;">*</span></label>
        <input type="text" name="direccion" id="inputDireccion" required>


        <label for="documento">Documento<span style="color:red; margin-left:5px;">*</span></label>
        <select id="documento" name="documento">
            {{#each documentos}}
                <option value="{{id}}" data-id ="{{{id}}}">{{{documento}}}</option>
            {{/each}}
        </select>  
     
        <label for="region">Region<span style="color:red; margin-left:5px;">*</span></label>
        <select id="region" name="region">
            {{#each regiones}}
                <option value="{{id}}" data-id ="{{{id}}}">{{{region}}}</option>
            {{/each}}
        </select>  



        <label for="comuna">Comuna<span style="color:red; margin-left:5px;">*</span></label>
        <select id="comuna" name="comuna">
            {{#each comunas}}
                <option value="{{id}}">{{{nombre}}}</option>
            {{/each}}
        </select>  


        <label for="entregas">Entrega<span style="color:red; margin-left:5px;">*</span></label>
        <select id="entregas" name="entrega">
            {{#each entregas}}
                <option value="{{id}}" >{{{entrega}}}</option>
            {{/each}}
        </select>  
     
    </div>

{{#if listaProductos}}
<div class="wrapperResults">
    <table class="tableResults" id="tableVenta">
        <thead>


            <th>Producto</th>

            <th>Subtotal</th>
        </thead>
        
    <tbody>
        {{#each listaProductos}}    
                <tr data-number="{{id}}">
                    <td style="font-size:.9rem;"data-label="Producto"="">{{nombre}} x <strong>{{cantidad}}</strong></td>
                    <td data-label="Subtotal">{{{price precio cantidad}}}</td>
                </tr>
        {{/each}}

        <tr>
            <td><strong>Total</strong></td>
            <td id="totalPrice"></td>

        </tr>
    </tbody>

    </table>
</div>

{{else}}
<div>No hay resultados</div>
{{/if}}



    <input class="btn-style"type="submit" value="Enviar" id="pedidoSubmit">
</form>                     


















<script src="/js/pedido.js"></script>
<script src="/js/hamburgerBtnCopy.js"></script>
<script src="/js/responsiveCopy.js"></script>
<script src="/js/hiddenSearch.js"></script>