<section class="search">
    <div class="products">
    {{#each results}}
    <div class="product">
        <p>Nombre: {{nombre}}</p>
        <p>SKU: {{SKU}}</p>
        <p>precio: {{precio}}</p>
        <p>descripcion: {{descripcion}}</p>
        <p>marca: {{marca}}</p>
    </div>
    {{/each}}

    </div>


</section>