<section class="search">
{{!--     {{contadorPagina}} --}}
   <div class="index-forms">
      <form action="/brands" method="POST" id ="formBrand" autocomplete="off">
         <input placeholder="Marca" list="brand" name="brand" id="inputBrand">
         <datalist id="brand">
         {{#each brandResults}}
         <option value="{{nombre}}" data-id ="{{{id}}}">{{{nombre}}}</option>
         {{/each}}
         </datalist>  
      </form>

      <form action="/models" method="POST" id ="formModels" autocomplete="off">
         <input placeholder="Modelo" list="model" name="model" id="inputModel" disabled>
      </form>

      <form action="/submodels" method="POST" id ="formSubmodels" autocomplete="off">
         <input placeholder="Submodelo"list="submodel" name="submodel" id="inputSubmodel" disabled>
      </form>

      <form action="/years" method="POST" id ="formYears" autocomplete="off">
         <input placeholder="Año"list="year" name="year" id="inputYear"disabled>
      </form>
   </div>
   </section>

    {{#if resultados}}
    <h4 class="subtitle-products">Productos encontrados</h4>
    <div class="products">
        {{#each resultados}}
        <div class="product" id="product-{{id}}">
            <img src="https://placeimg.com/640/480/tech" alt="">
            <h3 class="product-name">{{nombre}}</h3>
            <p class="product-sku">SKU: {{SKU}}</p>
            <p class="product-brand">{{marca}}</p>
            <p>${{precio}}</p>
            <div class="product-button">
                
                <input type="number" class="number" min="1" value="1" max="20">
                <a href="{{id}}" data-id="{{id}}">Añadir</a>
            </div>  
            


        {{!--     <p>descripcion: {{loud descripcion}}</p> --}}
        </div>
        {{/each}}
 

   




    </div>

    <div class="pages">

    {{#if previousPage}}
         <a class="previous-page" href="/search?submodel={{$submodeloId}}&year={{$anyoName}}&page={{previousPage}}"`>{{previousPage}}</a>
    {{/if}}
    {{#if nextPage}}
        <a class="next-page" href="/search?submodel={{$submodeloId}}&year={{$anyoName}}&page={{nextPage}}"`>{{nextPage}}</a>
    {{/if}}
    </div>
   {{else}}

    <div>NO HAY RESULTADOS</div>
    {{/if}}

</section>


<script src="/js/main.js" type="module"></script>