{{!-- Boton --}}

<button style="z-index:30;" class="btnCart"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
    </svg>
        <div id="cart-circle"  class="circle">
    </svg>
    </div>
    <p style="color:#6EA0F3; margin:0;padding:0;font-weight:bold;">0</p>
    <a class="shopping-cart" style="color:#ccc; display:flex; justify-content:center; align-items:center; align-content:center;text-decoration:none; " href="/checkout"></a>
</button>


{{!-- fin de boton cart
 --}}

<section class="search">

  <h2>BUSCADOR DE REPUESTOS</h2>
  <div class="arrow bounce">
    <a class="fa fa-arrow-down fa-2x"></a>
  </div>


  
<div class="container-selector">
    <div>
        <select class="form-select"  id="brand-selector" aria-label="Default select example">
            <option selected>Marca</option>
        </select>
    </div>
    <div>
        <select class="form-select" id="modelo-selector" aria-label="Default select example" disabled>
            <option selected>Modelo</option>
        </select>
    </div>
    <div>
        <select class="form-select" id="submodelo-selector" aria-label="Default select example" disabled>
            <option selected>Submodelo</option>
        </select>
    </div>
    <div>
        <select class="form-select" id="year-selector" aria-label="Default select example" disabled >
            <option selected>Año</option>
        </select>
    </div>

</div>


    <a type="button" class="btn btn-info" href="javascript:window.location.reload(true)" style="margin-top:1rem;">Reiniciar búsqueda</a>


    <p class="search-info">¡Navega por las principales marcas y modelos!</p>
   </section>

    {{#if resultados}}
    <div class="wrap-lastProducts">
    <h2 class="subtitle-products">Productos encontrados</h2>
    <div class="products">
        {{#each resultados}}
        <div class="product" id="product-{{id}}">

            <a href="/producto/{{id}}">
                          <img style="max-width:100%; height:200px;"src="{{selectImg imagen 'https://res.cloudinary.com/keyzen/image/upload/v1636230517/images_s3u714.png'}}" alt="">
            </a>
            <h3 class="product-name">{{nombre}}</h3>
            <p class="product-sku">SKU: {{SKU}}</p>
            <p class="product-brand">{{marca}}</p>
            <p>${{precio}}</p>
            <div class="product-button">
                 <script>
                    function restarCantidad(e){
                        const valueBox = e.target.nextElementSibling;
                        if (parseInt(valueBox.value) > 1) {
                            valueBox.value = parseInt(valueBox.value) -1
                        }
       
                    }

 
                   function sumarCantidad(e){
                        const valueBox = e.target.previousElementSibling;
                        debugger;
                        if (parseInt(valueBox.value) < parseInt(valueBox.max)){
                            valueBox.value = parseInt(valueBox.value) +1

                        }
                  
                    }

    </script>
                <button class="restar-btn" onclick="restarCantidad(event)">-</button>
                <input type="number" class="number input-cantidad" min="1" value="1" max={{cantidad}}>
                <button class="sumar-btn" onclick="sumarCantidad(event)">+</button>     
            </div>  
            <a class="btn btn-primary w-100" style="margin-top:.5rem;" href="{{id}}" data-id="{{id}}">Añadir</a>


            


            


        {{!--     <p>descripcion: {{loud descripcion}}</p> --}}
        </div>
        {{/each}}
      </div>
 

   




    </div>

    <div class="pages">
{{{paginator}}}

    </div>
   {{else}}

    <div style="height:100vh; display:flex; flex-direction:column; justify-content:center; align-items:center; align-content:center;">
        <h1 style="color:#4C6EA7;">No hay resultados</h1>
                <a href="/" class="btn btn-primary">Volver a inicio</a>
    </div>
    {{/if}}

</section>

<button class="scrollUp-btn"><i class="fas fa-arrow-alt-circle-up"></i></button>
<script src="/js/scrollUp.js"></script>
<script src="/js/productsWrapper.js"></script>
<script src="/js/main.js" type="module"></script>

<script src="/js/scroll-top.js"></script>
<script src="/js/shoppingCart.js"></script>

<script>

    const marcas = JSON.parse(window.localStorage.getItem('marca'))
    const modelos = JSON.parse(window.localStorage.getItem('modelo'))
    const submodelos = JSON.parse(window.localStorage.getItem('submodelo'))
    const listaSubmodelos = JSON.parse(window.localStorage.getItem('listasubmodelo'))
    const fabricacion = JSON.parse(window.localStorage.getItem('fabricacion'))

    const brandSelector = document.getElementById('brand-selector');
    const modeloSelector = document.getElementById('modelo-selector');
    const submodelSelector = document.getElementById('submodelo-selector');
    const yearSelector = document.getElementById('year-selector');

    let submodelId = undefined;
    
    
    marcas.forEach(marca => {
        const html = `<option value="${marca.id}" class="brand-option">${marca.nombre}</option>`
        brandSelector.insertAdjacentHTML("beforeend", html)
    })



    if (brandSelector) {
    brandSelector.addEventListener("change", e => {
       e.preventDefault();
       const brandId = e.target.value;
       const modelosAsociados = modelos.filter((modelo) => {
            if (modelo.marca_id == brandId) {
                return true
            }
       })

       modelosAsociados.forEach(modelo => {
            const html = `<option value="${modelo.id}" class="brand-option">${modelo.nombre}</option>`
            modeloSelector.insertAdjacentHTML("beforeend", html)
       })

        brandSelector.disabled = true;
        modeloSelector.disabled = false;

    })
    }

    
    if (modeloSelector) {
    modeloSelector.addEventListener("change", e => {
       e.preventDefault();
       const modeloId = e.target.value;
       const submodelosAsociados = submodelos.filter((submodelo) => {
            if (submodelo.modelo_id == modeloId) {
                return true
            }
       })

       submodelosAsociados.forEach(submodelo => {
            const html = `<option value="${submodelo.id}" class="brand-option">${submodelo.nombre}</option>`
            submodelSelector.insertAdjacentHTML("beforeend", html)
       })

       modeloSelector.disabled = true;
       submodelSelector.disabled = false;

    })
    }

    if (submodelSelector) {
    submodelSelector.addEventListener("change", e => {
       e.preventDefault();
       debugger;
       submodelId = e.target.value;
       window.localStorage.setItem('submodelId', submodelId)
       const listaSubmodelosAsociados = listaSubmodelos.filter((listaSubmodelo) => {
            if (listaSubmodelo.submodelo_id == submodelId) {
                return true
            }
       })

       listaSubmodelosAsociados.forEach(year => {
            const html = `<option value="${year.id}" data-id="${year.id}" class="brand-option">${year.fecha}</option>`
            yearSelector.insertAdjacentHTML("beforeend", html)
       })



       submodelSelector.disabled = true;
       yearSelector.disabled = false;

    })
    }


if (yearSelector) {
    yearSelector.addEventListener("change", e => {
       e.preventDefault();
       
       const listaSubmodelId = e.target.value;
        debugger;


       window.location.href = `/search/compatibilidad/${listaSubmodelId}/1`


    })
    }

    







</script>