<section class="search">
    {{test contadorPagina}}
        <p>Hola</p>
    <div class="products">
    {{#if resultados}}
        {{#each resultados}}
        <div class="product">
            <p>Nombre: {{loud nombre}}</p>
            <p>SKU: {{SKU}}</p>
            <p>precio: {{precio}}</p>
            <p>descripcion: {{loud descripcion}}</p>
            <p>marca: {{marca}}</p>
        </div>
        {{/each}}
    {{else}}

    <div>NO HAY RESULTADOS</div>
    {{/if}}

    {{#if nextPage}}
    <a href="/search?submodel={{$submodeloId}}&year={{$anyoId}}&page={{nextPage}}"`>{{nextPage}}</a>
    {{/if}}



    </div>


</section>