<div class="btnToAdmin">
    <a href="/admin-nueve"><i id="btnBackAdmin" class="fas fa-arrow-alt-circle-left"></i></a>
    <a class="backToPanel" href="/admin-nueve/clients">Volver al panel</a>
</div>
<h1 style="color:#4C6EA7; margin:2rem 0;">Detalle cliente</h1>

<form class="edit-form" action="/admin-nueve/clients/edit" method="post">

    <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="nombre">Nombre</label>
    <div class="col-sm-10">
            <input type="text"  name="nombre" value={{results.nombre}} maxlength="45" >
    </div>
    </div>

        <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="apellido">Apellido</label>
    <div class="col-sm-10">
            <input type="text"  name="apellido" value={{results.apellido}} maxlength="45" >
    </div>

    </div>

        <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="email">Email</label>
    <div class="col-sm-10">
            <input type="text"  name="email" value={{results.email}}  maxlength="60" >
    </div>
    </div>

        <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="telefono">Telefono</label>
    <div class="col-sm-10">
            <input type="text"  name="telefono" value={{results.telefono}}  maxlength="15" >
    </div>
    </div>

        <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="rut">Rut</label>
    <div class="col-sm-10">
            <input type="text"  name="rut" value={{results.rut}}  maxlength="10" >
    </div>
    </div>

    <input type="hidden" name="id" value={{results.id}}>
    <input type="submit" class="btn btn-primary w-100" style="margin-top:.5rem;"value="Enviar">
    
</form>

<script src="/js/hamburgerBtnCopy.js"></script>
<script src="/js/responsiveCopy.js"></script>
<script src="/js/hiddenSearch.js"></script>